[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bootstrap"]
	path = bootstrap
	url = https://gitlab.com/scottkosty/bootstrap
[submodule "monreg"]
	path = monreg
	url = https://gitlab.com/scottkosty/monreg
